* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-width: 100%;
    min-height: 100vh;
    font-weight: 700;
    justify-content:center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    flex-wrap: wrap;
    background-image: url(images/gqiGH7.jpg);
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 20px;
    width: 50%;
    font-size: 40px;
    color: #4d4dff;
    background-color:white;
}

.loginForm {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.55), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
    margin-left: 10px;
    width: 400px;
    background-color: white;
    border-radius: 15px;
    color: #4d4dff;
    padding: 20px;
    line-height: 60px;
}
hr {
    width: 85%;
    border: none;
    height: 1px;
    background-color:#e6e6ff;
}

.btn {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 15px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #3385ff;
    color: white;
}

.btn:hover {
    background-color:  #6666ff;
}

.input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    background-color: white;
    padding-left: 10px;
}

.detail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
p {
    color: #8080ff;
}

@media screen and (max-width: 1135px) {
    .welcome {
        display: none;
        background-color: none;
        font-size: 30px;
    }
    .welcomeImage {
        display: none;
    }
}
