* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 15px;
    min-width: 100%;
    min-height: 100vh;
    background: url(images/bg-bottom.svg) no-repeat left bottom, url(images/bg-top.svg) no-repeat right top;
    background-color:  hsl(234, 25%, 96%);
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
}

#annualMonthly {
    color: #c4c7ed;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.ourPricing {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  hsl(236, 13%, 49%);
    margin-top: 30px;
}
.plan {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 80px;

    /* height: 440px; */
}
.prices {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color:white;
    border-radius: 10px;
    color: hsl(236, 13%, 49%);
    font-size: medium;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    align-items: center;
    justify-content: space-between;
    transition: .3s ease;
    padding: 20px;
    line-height: 70px;
    margin-top: 25px;
}

.prices:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    color: white;
    background-color: #8c94d9;
}
.prices:hover .btn-lm {
    background-color: white;
    color: #8c94d9;
}

.prices:hover .pricing {
    color: white;
}

.pricing {
    font-size: 50px;
    color:  hsl(232, 13%, 33%);
}

.btn-lm {
    cursor: pointer;
    margin-top: 10px;
    padding: 15px;
    background-color:#8c94d9;
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-radius: 10px;
    width: 100%;
    border: none;
}

hr {
    height: 1px;
    background-color:	#cccfff;
    border: none;
    width: 100%;

}


input {
    -webkit-appearance: none;
    position: relative;
    width: 60px;
    height: 34px;
    background-color: #8c94d9;
    border-radius: 50px;
    outline: none;
    transition: .40s;
    box-shadow: 0px 2px 5px 1px gray;
    cursor: pointer;
  }
  
  input:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    height: 26px;
    width: 26px;
    background-color: #8c94d9;
    border-radius: 50px;
    transition: .4s;
    background-color: white;
  }
  
  input:checked {
    background-color: #8c94d9;
    transition:  .40s;
  
  }
  
  input:checked:before {
    transform: translate(100%);
    transition: .4s;
    background-color: white;
  }
